body {
    font-family: 'Verdana', 'Helvetica', sans-serif;
    background-color: #7FC7D9;
}

.content {
    width: 1000px;
    margin: 24px auto;
    padding: 16px;
    background-color: #DCF2F1;
}

h1,
.index-list {
    text-align: center;
}

h1 {
    margin: auto;
    padding: 8px;
    border: 2px solid #0F1035;
    background-color: #365486;
    color: white;
}

h2 {
    padding: 8px;
    background-color: #365486;
    color: white;
}

.index-list {
    list-style-position: inside;
}

img {
    display: block;
    margin: 16px auto;
    height: 325px;
    width: auto;
}

p {
    padding-left: 16px;
    padding-right: 16px
}